#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: rgb(150, 163, 170);
}

ion-title{
  font-weight: 600;
  font-size: larger;

}



ion-col{
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card {
  width: 16rem;
  height: 12rem;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(8, 8, 8); 
  border: 2px solid rgb(255, 255, 255);
}

img{
  width: 16rem;
  height: 12rem;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
}



.card-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);

  flex-direction: column;
  width: 11rem;
  height: 9rem;
  left: 2.4rem;
  bottom: 1.4rem;
}




ion-card-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  background-color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;

  margin-top: -1.2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

ion-icon {
  font-size: 4rem;
}










